.title-container{
    width: var(--container-width);
}   

.custom-title{
    border: 1px solid rgba(3,37,65,1);
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
}

.custom-style{
    background: linear-gradient(to right,#c0fecf 0,#1ed5a9 100%);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   

.selector{
    background-color:  rgba(3,37,65,1);
    transition: all 150ms ease-in;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
    display: inline-block;
}