:root{
    --container-width: 1300px
}


::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track{
    background:transparent;
}

::-webkit-scrollbar-thumb{
    border-radius:30px;
    background: rgb(219,219,219);
}