/* Movie.css */
.movie-carousel {
  display: flex;
  overflow-x: auto;
  max-width: 100%;
  width: fit-content; 
  height: 360px; 
}

.custom-card {
  flex-shrink: 0;
}

.custom-card img{
    border-radius: 10px;
    width: 150px;
    height: 225px;
}

.custom-movie{
  width: var(--container-width);
  cursor: pointer;
}

.custom-movie-title{
  width: 150px;
  font-size: 16px;
  padding-top: 30px;
}

.custom-card p{
  color: rgba(0,0,0,.6);
}

.custom-bar{
  bottom:-19px;
  left: 10px;
}

.custom-icon{
  top: 10px;
  right: 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}


